*{
	font-family: 'Montserrat', sans-serif;
}

#header img{
	height: 90px;
}

#header {
	display: flex;
	justify-content: center;
}

#header > ul{
	display: flex;
	padding-left: 700px;
	align-items: center;
	margin-right: 50px;
}

#header ul li {
	list-style-type: none;
}

#header > ul li a{
	text-decoration: none;
	padding-left: 10px;
	color: black;
	font-size: 25px;
	font-weight: bolder;
}

#bannersection {
	background-image: url(../images/banner.png);
	background-size: cover;
	background-position: left;
	width: 100%;
	height: 520px;
	color: white;

}

#bannersection > h2{
	color: white;
	margin-left: 70px;
	padding-top: 140px;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 40px;
}

#bannersection > p{
	margin-left: 70px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 40px;
}

#menusection {
	width: 1119px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 40px;

}

.row {
	display: flex;
	text-align: left;
	font-size: 10px;
	justify-content: space-evenly;
}

.row div {
	box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -20px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -7px 5px;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: 0px;
}	

.row h4 {
	font-size: 20px;
	font font-weight: bolder;
}

div {
	margin-left: 40px;
}

#menusection > h2 {
	background-image: url('../images/heading-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 600px;
	height: 60px;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 70px;
	padding-top: 25px;
	font-size:35px;
	font-family: 'Pinyon Script', cursive;
	font-style: italic;
}

.row p span {
	color: orange;
	font-size: 20px;
	font-weight: bolder;
}

.row p strong {
	font-size: 15px;
}

#logo {
	width: 230px;
	height: 90px;
}

#footercontent {
	display: flex;
	justify-content: space-evenly;
}

#footercontent > div div {
	display: flex;
	font-size: 10px;
	align-items: flex-end;
}

.contentheader h3 {
	margin-bottom: 5px;
}

.contentheader p {
	margin-left: 5px;
}

.contentheader p span {
	font-weight: bolder;
}

.contentheader {
	margin-left: 100px;
}

.contentheader > p span {
	font-weight: bolder;
	font-size: 10px;
}

.contentheader > p {
	font-size: 10px;
}

.contentheader > ul {
	list-style-type: none;
	text-align: left;
	padding-left: 2px;
	font-size: 10px;
}

.contentheader > ul li a {
	text-decoration: none;
	color: black;
}

.contentheader > ul li {
	margin-top: 15px;
}

.contentheader img {
	height: 60px;
	width: 60px;
}

.contentheader div {
	padding-left: 2px;
	margin-left: 2px;
	height: 70px;
	width: 300px;	
}

#footersection p span {
	font-weight: bolder;
}

#footersection > p {
	margin-top: 100px;
	text-align: center;
	font-size: 10px;
}